<head>

</head>
<body>
    <header>
        <img src="./logo.webp" alt="logo">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
            
            
            
        </ul>
    </header>
    <main>
        <section>
            <h1>Thank you for your intrest!</h1>
            <img src="./akshay.jpg" alt="Akshay's photo">
        </section>
        <section>
            <from>
                <label for="name">Name</label>
                <input type="text">
                <label for="email">Email</label>
                <input type="email">
                <label for="message">Message</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="submit">
            </from>
        </section>
    </main>
    <footer></footer>

</body>